<!DOCTYPE html>
<html lang="eng">
    <head>
        <link href="css/homepage.css" type="text/css" rel="stylesheet">
        <link href="css/upload.css" type="text/css" rel="stylesheet">  
        <title>Local News - Upload Your Own Article!</title>
        <div class="header"> 
            <h1> LOCAL NEWS</h1>
            <p>TOP NEWS</p>
        </div> 
          
<div class="navbar">
  <a href="/">HOME</a>
  <a href="/business">BUSINESS</a>
  <a href="/lifeandstyle">LIFE & STYLE</a>
  <a href="/careers">CAREERS</a>
  <a href="/sports">SPORTS</a>
  <a href="/music">MUSIC</a>
  <a href="/entertainment">ENTERTAINMENT</a>
  <a href="/upload">UPLOAD</a>
  <a href="/search">SEARCH</a>
</div>

</head>

    <body>

                <div class="column--primary" style="text-align:center">
                <div class="story-body"> 
                <div class="story-body__inner"> 
                <h1 class="story-body__h1">Report a Technical Error</h1>                  	
                <div class="contact-form optional-is-default">
		
        <form action="/contact" method="post" accept-charset="utf-8">
                <fieldset class="contact-form__details">
				    <legend class="off-screen">Your contact details</legend>
                    <br>
            <label class="contact-form__label" for="fullName">
                            Name
                        </label>
                      <br>
                        <input  type="text" name="name" class="Article_Boxes"><br>
                        <br>
                     
                        <label class="contact-form__label" for="email">
                         
                            Your E-mail address
                            
                                <span class="contact-form__validation-label-required"></span>
                           
                        </label>
                      
                      
                        <br>
                        <input  type="text" name="email" class="Article_Boxes"><br>
                         <br>
                       
                        <label class="contact-form__label" for="sub">
                             
                            Subject 
                        
                                <span class="contact-form__validation-label-optional"></span>
                          
                        </label>
                        
                        <br>
                        <input  type="text" name="sub" class="Article_Boxes"><br>
                       
                         <br>
                    
                        <label class="contact-form__label" for="message">
                           
                            Report
                           
                                <span aria-hidden="true" class="contact-form__validation-label-optional"></span>

                        </label>
                       <br>
                        <br>
                        
                       <textarea type="text"  name="report" class="Article_Text"></textarea><br>
                </fieldset>
                <br>


<input type='submit' class="button"><br>  



 
                </div>
		</form>
	</div>
 </div> </div> </div>




           
    </body>
</html>
