<!DOCTYPE html>
<html lang="eng">
    <head>
        <link href="css/homepage.css" type="text/css" rel="stylesheet">  
        <title>Local News - LIVE</title>
        <div class="header"> 
            <h1> LOCAL NEWS</h1>
            <p>TOP NEWS</p>
        </div> 
          
<div class="navbar">
  <a href="/">HOME</a>
  <a href="/business">BUSINESS</a>
  <a href="/lifeandstyle">LIFE & STYLE</a>
  <a href="/careers">CAREERS</a>
  <a href="/sports">SPORTS</a>
  <a href="/music">MUSIC</a>
  <a href="/entertainment">ENTERTAINMENT</a>
  <a href="/upload">UPLOAD</a>
  <a href="/search">SEARCH</a>
</div>

    </head>
        <body>
        <center>
            <br>
            <h2>Watch Live News</h2>
            <br>
            <br>
    <iframe width="800" height="500" src="https://www.youtube.com/embed/9Auq9mYxFEE?&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            <center>
        </iframe>
            <br>
            <br>
            <br>
        </center>
    </body>
</html>