<!DOCTYPE html>
<html lang="eng">
    <head>
        <link href="css/homepage.css" type="text/css" rel="stylesheet">  
        <title>Local News - Access Denied</title>
        <div class="header"> 
            <h1> LOCAL NEWS</h1>
            <p>TOP NEWS</p>
        </div> 
          
<div class="navbar">
  <a href="/">HOME</a>
  <a href="/business">BUSINESS</a>
  <a href="/lifeandstyle">LIFE & STYLE</a>
  <a href="/careers">CAREERS</a>
  <a href="/sports">SPORTS</a>
  <a href="/music">MUSIC</a>
  <a href="/entertainment">ENTERTAINMENT</a>
  <a href="/upload">UPLOAD</a>
  <a href="/login" class="right"> &#128275; SIGN IN </a>
  <a href="/search">SEARCH</a>

</div>

    </head>
    <body>
        <br>
        <center><h1>You are not authorised to view this page.</h1>
        <h2>Please <a href="/login">login or sign up</a> to view this page.</h2></center>
        <br>
    </body>
</html>

